* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #000000, #fe0000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: #333;
}

.container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.container input:focus {
    border-color: #000000;
    outline: none;
}

.container button {
    width: 100%;
    padding: 12px;
    background-color:darkred;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #000000;
}

.container button:hover {
    background-color: #fb0000;
    transform: scale(1.03);
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}