body {
    background-color: aliceblue;
    background-image: linear-gradient(to left, rgb(141, 219, 255), rgb(0, 35, 80));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.bloco1 {
    background-color: aliceblue;
}


.bloco2 {
    background-color: blue;
}


p {
    color: black;
    text-align: center;
}
